#header {
  text-align: center;
}

#header img {
  width: 150px;
  height: auto;
}

li {
  list-style-type: none;
}

#list_container {
  display: flex;
  justify-content: space-around;
}

#areas_header {
  text-align: center;
}

.area_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#area_card {
  border: 2px solid #add8ad;
  padding: 0 15px 15px;
  flex-basis: 25%;
  margin: 15px;
}

.guest_container {
  border: 2px solid #add8ad;
  padding: 0 20px 15px;
}

.footer {
  text-align: center;
}

.service_list {
  list-style: none;
  padding-top: 10px;
  margin: 10;
}

.service_item {
  display: inline;
  padding: 2px;
  margin-top: 10px;
}

.service_item:not(:last-child)::after {
  content: ", ";
}

.park_services{
  display: flex;
  flex-wrap: nowrap;
}

li[data-type="service"]:hover{
  color: red;
  cursor: pointer;
}